In [ ]:
# 🔧 기본 라이브러리 불러오기
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# ✅ 한글 정렬, 너비 확장, 행/열 표시 전부 자동화
pd.set_option('display.unicode.east_asian_width', True)  # 한글 정렬 맞추기
pd.set_option('display.width', 150)                      # 콘솔 너비 자동 확장
pd.set_option('display.max_columns', None)               # 모든 열 표시
pd.set_option('display.max_rows', 1000)                  # 최대 1000행 표시
pd.set_option('display.max_colwidth', None)              # 긴 문자열 자르지 않기
pd.set_option('display.expand_frame_repr', False)

# ✅ matplotlib 시각화 설정 (한글 & 마이너스 깨짐 방지)
plt.rcParams['font.family'] = 'Malgun Gothic'             # 윈도우용 한글 폰트
plt.rcParams['axes.unicode_minus'] = False

# 2.DataFrame
2차원 데이터(Series들의 모음)

## Data 준비
사전(dictionary) 자료구조를 통해 생성
예)슬램덩크 주요 인물 8명에 대한 데이터정리

In [12]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

display(data)

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [13]:
print(data['이름'])

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [14]:
print(data['키'])

[197, 184, 168, 187, 188, 202, 188, 190]

## DataFrame객체 생성

In [15]:
df=pd.DataFrame(data)
print(df)

     이름    학교   키  국어  영어  수학  과학  사회      SW특기
0  채치수  북산고  197    90    85   100    95    85      Python
1  정대만  북산고  184    40    35    50    55    25        Java
2  송태섭  북산고  168    80    75    70    80    75  Javascript
3  서태웅  북산고  187    40    60    70    75    80
4  강백호  북산고  188    15    20    10    35    10
5  변덕규  능남고  202    80   100    95    85    80           C
6  황태산  능남고  188    55    65    45    40    35      PYTHON
7  윤대협  능남고  190   100    85    90    95    95          C#

In [16]:
print(df['이름'])

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [ ]:
print(df[['이름','키','국어']])    #여러colum만 선별해서 보려면 []대괄호2개쓰기

     이름   키  국어
0  채치수  197    90
1  정대만  184    40
2  송태섭  168    80
3  서태웅  187    40
4  강백호  188    15
5  변덕규  202    80
6  황태산  188    55
7  윤대협  190   100

## DataFram 객체 생성
index 지정

In [18]:
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
print(df)

       이름    학교   키  국어  영어  수학  과학  사회      SW특기
1번  채치수  북산고  197    90    85   100    95    85      Python
2번  정대만  북산고  184    40    35    50    55    25        Java
3번  송태섭  북산고  168    80    75    70    80    75  Javascript
4번  서태웅  북산고  187    40    60    70    75    80
5번  강백호  북산고  188    15    20    10    35    10
6번  변덕규  능남고  202    80   100    95    85    80           C
7번  황태산  능남고  188    55    65    45    40    35      PYTHON
8번  윤대협  능남고  190   100    85    90    95    95          C#

## DataFrame 객체 생성(Column지정)
data 중에서 원하는 column만 선택or순서변경가능

In [21]:
df=pd.DataFrame(data, columns=['이름','키','학교'],index=[1,2,3,4,5,6,7,8])
df

     이름   키    학교
1  채치수  197  북산고
2  정대만  184  북산고
3  송태섭  168  북산고
4  서태웅  187  북산고
5  강백호  188  북산고
6  변덕규  202  능남고
7  황태산  188  능남고
8  윤대협  190  능남고