In [27]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

# íŒŒì¼ ì €ì¥ ë° ì—´ê¸°
DataFrame ê°ì²´ë¥¼ excel,csv,txt ë“± í˜•íƒœì˜ íŒŒì¼ë¡œ ì €ì¥ ë° ì—´ê¸°

In [28]:
data = {
    'ì´ë¦„' : ['ì±„ì¹˜ìˆ˜', 'ì •ëŒ€ë§Œ', 'ì†¡íƒœì„­', 'ì„œíƒœì›…', 'ê°•ë°±í˜¸', 'ë³€ë•ê·œ', 'í™©íƒœì‚°', 'ìœ¤ëŒ€í˜‘'],
    'í•™êµ' : ['ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ '],
    'í‚¤' : [197, 184, 168, 187, 188, 202, 188, 190],
    'êµ­ì–´' : [90, 40, 80, 40, 15, 80, 55, 100],
    'ì˜ì–´' : [85, 35, 75, 60, 20, 100, 65, 85],
    'ìˆ˜í•™' : [100, 50, 70, 70, 10, 95, 45, 90],
    'ê³¼í•™' : [95, 55, 80, 75, 35, 85, 40, 95],
    'ì‚¬íšŒ' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SWíŠ¹ê¸°' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df=pd.DataFrame(data,index=['1ë²ˆ','2ë²ˆ','3ë²ˆ','4ë²ˆ','5ë²ˆ','6ë²ˆ','7ë²ˆ','8ë²ˆ'])
df.index.name='ì§€ì›ë²ˆí˜¸'
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

## ì €ì¥í•˜ê¸°
### csvíŒŒì¼ë¡œ ì €ì¥

In [29]:
df.to_csv('score.csv',encoding='utf-8-sig')  #dfë¥¼ csvë¡œì €ì¥

In [30]:
df.to_csv('score2.csv',encoding='utf-8-sig',index=False)

### txtë¡œ ì €ì¥

In [31]:
df.to_csv('score.txt',sep='\t')  #tabìœ¼ë¡œ êµ¬ë¶„ëœ í…ìŠ¤íŠ¸íŒŒì¼

### ì—‘ì…€íŒŒì¼ë¡œ ì €ì¥

In [32]:
df.to_excel('score.xlsx')

## ì—´ê¸°

### csv íŒŒì¼ ì—´ê¸°

In [33]:
df=pd.read_csv('score2.csv')
df

     ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
4  ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
5  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
6  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
7  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [34]:
df=pd.read_csv('score.csv',skiprows=2)   #skiprowì— ì§€ì •ëœ ê°œìˆ˜ë§Œí¼ì˜ rowë¥¼ ê±´ë„ˆë›´ë‹¤.
df

   2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35  50  55  25        Java
0  3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75  70  80  75  Javascript
1  4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80         NaN
2  5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20  10  35  10         NaN
3  6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80           C
4  7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35      PYTHON
5  8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95          C#

In [35]:
df=pd.read_csv('score.csv',skiprows=[1,3,5])   #skiprowë¦¬ìŠ¤íŠ¸ë‚´ì— ì§€ì •ëœ rawë¥¼ ê±´ë„ˆë›´ë‹¤
df

  ì§€ì›ë²ˆí˜¸    ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
0      2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25    Java
1      4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     NaN
2      6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80       C
3      7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON
4      8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#

In [36]:
df=pd.read_csv('score.csv',nrows=4)  #ì§€ì •ëœê°œìˆ˜ì˜ rowë§Œ ë¶ˆëŸ¬ì˜¨ë‹¤.
df

  ì§€ì›ë²ˆí˜¸    ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
0      1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
1      2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
2      3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
3      4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN

In [37]:
df=pd.read_csv('score.csv',skiprows=[1,2],nrows=4) #ì²˜ìŒ 2rowë¬´ì‹œ,ê·¸ë‹¤ìŒ 4rowë¥¼ ê°€ì ¸ì˜´.
df

  ì§€ì›ë²ˆí˜¸    ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
0      3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
1      4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
2      5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
3      6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C

### txtíŒŒì¼ì—´ê¸°

In [38]:
df=pd.read_csv('score.txt',sep='\t')  #sep='\t'ëŠ” txtì €ì¥í• ë•Œ ê¼­ setë¡œ ì±™ê²¨ì£¼ì
df

  ì§€ì›ë²ˆí˜¸    ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
0      1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
1      2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
2      3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
3      4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
4      5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
5      6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
6      7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
7      8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [41]:
df=pd.read_csv('score.txt',sep='\t')
df.set_index('ì§€ì›ë²ˆí˜¸',inplace=True)
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

### ì—‘ì…€íŒŒì¼ ì—´ê¸°

In [43]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#