In [31]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

In [32]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

## DataFrame í™•ì¸

In [33]:
df.describe()           #int,floatì— ëŒ€í•´ ì»¬ëŸ¼ë³„ë¡œ ì´ˆê°„ë‹¨í†µê³„ë¥¼ ë³´ì—¬ì£¼ë„¤

               í‚¤        êµ­ì–´        ì˜ì–´        ìˆ˜í•™       ê³¼í•™       ì‚¬íšŒ
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1ë²ˆ to 8ë²ˆ
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      8 non-null      object
 1   í•™êµ      8 non-null      object
 2   í‚¤       8 non-null      int64
 3   êµ­ì–´      8 non-null      int64
 4   ì˜ì–´      8 non-null      int64
 5   ìˆ˜í•™      8 non-null      int64
 6   ê³¼í•™      8 non-null      int64
 7   ì‚¬íšŒ      8 non-null      int64
 8   SWíŠ¹ê¸°    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [35]:
df.head(4)   #ì²«4rowë§Œ
df.tail(2)   #ë§ˆì§€ë§‰2rowë§Œ


#df=pd.read_csv('score.csv',nrows=5)  #ì§€ì •ëœê°œìˆ˜ì˜ rowë§Œ ë¶ˆëŸ¬ì˜¨ë‹¤.
#df   #ìƒìœ„5ê°œì˜ rowë¥¼ ê°€ì ¸ì˜¨ë‹¤.

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#

In [36]:
df.index

Index(['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ'], dtype='object', name='ì§€ì›ë²ˆí˜¸')

In [37]:
df.values

array([['ì±„ì¹˜ìˆ˜', 'ë¶ì‚°ê³ ', 197, 90, 85, 100, 95, 85, 'Python'],
       ['ì •ëŒ€ë§Œ', 'ë¶ì‚°ê³ ', 184, 40, 35, 50, 55, 25, 'Java'],
       ['ì†¡íƒœì„­', 'ë¶ì‚°ê³ ', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['ì„œíƒœì›…', 'ë¶ì‚°ê³ ', 187, 40, 60, 70, 75, 80, nan],
       ['ê°•ë°±í˜¸', 'ë¶ì‚°ê³ ', 188, 15, 20, 10, 35, 10, nan],
       ['ë³€ë•ê·œ', 'ëŠ¥ë‚¨ê³ ', 202, 80, 100, 95, 85, 80, 'C'],
       ['í™©íƒœì‚°', 'ëŠ¥ë‚¨ê³ ', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['ìœ¤ëŒ€í˜‘', 'ëŠ¥ë‚¨ê³ ', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [38]:
df.columns

Index(['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°'], dtype='object')

In [39]:
df.shape  #rowìˆ˜ #columsìˆ˜

(8, 9)

## Series í™•ì¸

In [43]:
df['í‚¤'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: í‚¤, dtype: float64

In [44]:
df['í‚¤'].min()

np.int64(168)

In [45]:
df['í‚¤'].max()

np.int64(202)

In [ ]:
df['í‚¤'].nlargest(3)   # í‚¤ í° ì‚¬ëŒ ìˆœì„œëŒ€ë¡œ 3ëª… ë°ì´í„°

ì§€ì›ë²ˆí˜¸
6ë²ˆ    202
1ë²ˆ    197
8ë²ˆ    190
Name: í‚¤, dtype: int64

In [47]:
df['í‚¤'].mean()

np.float64(188.0)

In [48]:
df['í‚¤'].sum()

np.int64(1504)

In [50]:
df['SWíŠ¹ê¸°'].count()

np.int64(6)

In [ ]:
df['í•™êµ'].unique()  #ì¤‘ë³µì œì™¸

array(['ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ '], dtype=object)

In [ ]:
df['í•™êµ'].nunique() #ì¤‘ë³µì œì™¸í•˜ê³  ëª‡ê°œì„?

2