In [1]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

In [2]:
df=pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

## Column ì„ íƒ(label)

In [3]:
df['ì´ë¦„']

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜
2ë²ˆ    ì •ëŒ€ë§Œ
3ë²ˆ    ì†¡íƒœì„­
4ë²ˆ    ì„œíƒœì›…
5ë²ˆ    ê°•ë°±í˜¸
6ë²ˆ    ë³€ë•ê·œ
7ë²ˆ    í™©íƒœì‚°
8ë²ˆ    ìœ¤ëŒ€í˜‘
Name: ì´ë¦„, dtype: object

In [4]:
df[['ì´ë¦„','í‚¤']]

            ì´ë¦„   í‚¤
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  197
2ë²ˆ       ì •ëŒ€ë§Œ  184
3ë²ˆ       ì†¡íƒœì„­  168
4ë²ˆ       ì„œíƒœì›…  187
5ë²ˆ       ê°•ë°±í˜¸  188
6ë²ˆ       ë³€ë•ê·œ  202
7ë²ˆ       í™©íƒœì‚°  188
8ë²ˆ       ìœ¤ëŒ€í˜‘  190

## Columnì„ íƒ(ì •ìˆ˜ index)

In [5]:
df.columns

Index(['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°'], dtype='object')

In [ ]:
df.columns[2]

'í‚¤'

In [ ]:
df[df.columns[0]]   #0ë²ˆì§¸ ì»¬ëŸ¼ ì„¸ë¡œë¡œ ì­‰ ê°€ì ¸ì˜¤ê¸°

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜
2ë²ˆ    ì •ëŒ€ë§Œ
3ë²ˆ    ì†¡íƒœì„­
4ë²ˆ    ì„œíƒœì›…
5ë²ˆ    ê°•ë°±í˜¸
6ë²ˆ    ë³€ë•ê·œ
7ë²ˆ    í™©íƒœì‚°
8ë²ˆ    ìœ¤ëŒ€í˜‘
Name: ì´ë¦„, dtype: object

In [ ]:
df[df.columns[-1]]  #ë§¨ëì— ìˆëŠ” ì»¬ëŸ¼ì˜ ê°’ë“¤ ë‹¤ ê°€ì ¸ì˜¤ê¸°

ì§€ì›ë²ˆí˜¸
1ë²ˆ        Python
2ë²ˆ          Java
3ë²ˆ    Javascript
4ë²ˆ           NaN
5ë²ˆ           NaN
6ë²ˆ             C
7ë²ˆ        PYTHON
8ë²ˆ            C#
Name: SWíŠ¹ê¸°, dtype: object

## ìŠ¬ë¼ì´ì‹±

In [14]:
#ì˜ì–´ ì»¬ëŸ¼ì¤‘ì—ì„œ ëª‡ê°œë§Œ ëŠì–´ì„œ ê°€ì ¸ì˜¤ê¸°
df['ì˜ì–´'][0:5]

ì§€ì›ë²ˆí˜¸
1ë²ˆ    85
2ë²ˆ    35
3ë²ˆ    75
4ë²ˆ    60
5ë²ˆ    20
Name: ì˜ì–´, dtype: int64

In [16]:
df[['ì´ë¦„','í‚¤']][0:3]  #ì²˜ìŒ 3ëª…ì˜ ì´ë¦„,í‚¤ ì •ë³´ë¥¼ ê°€ì ¸ì˜¨ë‹¤.

            ì´ë¦„   í‚¤
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  197
2ë²ˆ       ì •ëŒ€ë§Œ  184
3ë²ˆ       ì†¡íƒœì„­  168

In [19]:
df[3:]   #ëª¨ë“ ì»¬ëŸ¼ì— ëŒ€í•´ì„œ 3ë²ˆì§¸ë¶€í„° ë‹¤ ê°€ì ¸ì˜¤ê¸°

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80       C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#