In [2]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

# ë°ì´í„° ì„ íƒ(loc)
ì´ë¦„ì„ ì´ìš©í•˜ì—¬ ì›í•˜ëŠ” rowì—ì„œ ì›í•˜ëŠ” columnì„ ì„ íƒí•˜ê¸°

In [3]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [ ]:
df.loc['1ë²ˆ']  #index 1ë²ˆì— í•´ë‹¹í•˜ëŠ” ì „ì²´ ë°ì´í„°

ì´ë¦„      ì±„ì¹˜ìˆ˜
í•™êµ      ë¶ì‚°ê³
í‚¤           197
êµ­ì–´          90
ì˜ì–´          85
ìˆ˜í•™         100
ê³¼í•™          95
ì‚¬íšŒ          85
SWíŠ¹ê¸°    Python
Name: 1ë²ˆ, dtype: object

In [ ]:
df.loc['1ë²ˆ','êµ­ì–´']  #index 1ë²ˆì— í•´ë‹¹í•˜ëŠ” ì„ ìˆ˜ì˜ êµ­ì–´ì ìˆ˜     íŠ¹ì •row íŠ¹ì •ì»¬ëŸ¼ ì„ íƒí•´ì„œ ê°€ì ¸ì˜¤ê¸°

np.int64(90)

In [ ]:
df.loc[['1ë²ˆ','2ë²ˆ'],'êµ­ì–´']  #1ë²ˆê³¼ 2ë²ˆ ì„ ìˆ˜ì˜ êµ­ì–´ì ìˆ˜

ì§€ì›ë²ˆí˜¸
1ë²ˆ    90
2ë²ˆ    40
Name: êµ­ì–´, dtype: int64

In [10]:
df.loc[['1ë²ˆ','2ë²ˆ'],['êµ­ì–´','ì˜ì–´']]  #1ë²ˆ,2ë²ˆì„ ìˆ˜ì˜ êµ­ì–´,ì˜ì–´ ì ìˆ˜.  =  ì—¬ëŸ¬rowì˜ ì—¬ëŸ¬colê°’ ê°€ì ¸ì˜¤ê¸°

          êµ­ì–´  ì˜ì–´
ì§€ì›ë²ˆí˜¸
1ë²ˆ         90    85
2ë²ˆ         40    35

In [14]:
df.loc['1ë²ˆ':'5ë²ˆ','êµ­ì–´':'ì‚¬íšŒ']     #ì—´ë°›ë„¤? ë¬¸ë²•ì´ ì•½ê°„ ë‹¤ë¥´ë„¤... ì–´ì¨‹ë“  1ë²ˆ~5ë²ˆrowì˜ êµ­ì–´~ì‚¬íšŒ col ë¶ˆëŸ¬ì˜¤ê¸°.

          êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ         90    85   100    95    85
2ë²ˆ         40    35    50    55    25
3ë²ˆ         80    75    70    80    75
4ë²ˆ         40    60    70    75    80
5ë²ˆ         15    20    10    35    10