In [2]:
# 🔧 기본 라이브러리 불러오기
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# ✅ 한글 정렬, 너비 확장, 행/열 표시 전부 자동화
pd.set_option('display.unicode.east_asian_width', True)  # 한글 정렬 맞추기
pd.set_option('display.width', 150)                      # 콘솔 너비 자동 확장
pd.set_option('display.max_columns', None)               # 모든 열 표시
pd.set_option('display.max_rows', 1000)                  # 최대 1000행 표시
pd.set_option('display.max_colwidth', None)              # 긴 문자열 자르지 않기
pd.set_option('display.expand_frame_repr', False)

# ✅ matplotlib 시각화 설정 (한글 & 마이너스 깨짐 방지)
plt.rcParams['font.family'] = 'Malgun Gothic'             # 윈도우용 한글 폰트
plt.rcParams['axes.unicode_minus'] = False

# 데이터 선택(loc)
이름을 이용하여 원하는 row에서 원하는 column을 선택하기

In [3]:
df=pd.read_excel('score.xlsx',index_col='지원번호')
df

            이름    학교   키  국어  영어  수학  과학  사회      SW특기
지원번호
1번       채치수  북산고  197    90    85   100    95    85      Python
2번       정대만  북산고  184    40    35    50    55    25        Java
3번       송태섭  북산고  168    80    75    70    80    75  Javascript
4번       서태웅  북산고  187    40    60    70    75    80         NaN
5번       강백호  북산고  188    15    20    10    35    10         NaN
6번       변덕규  능남고  202    80   100    95    85    80           C
7번       황태산  능남고  188    55    65    45    40    35      PYTHON
8번       윤대협  능남고  190   100    85    90    95    95          C#

In [ ]:
df.loc['1번']  #index 1번에 해당하는 전체 데이터

이름      채치수
학교      북산고
키           197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [ ]:
df.loc['1번','국어']  #index 1번에 해당하는 선수의 국어점수     특정row 특정컬럼 선택해서 가져오기

np.int64(90)

In [ ]:
df.loc[['1번','2번'],'국어']  #1번과 2번 선수의 국어점수

지원번호
1번    90
2번    40
Name: 국어, dtype: int64

In [10]:
df.loc[['1번','2번'],['국어','영어']]  #1번,2번선수의 국어,영어 점수.  =  여러row의 여러col값 가져오기

          국어  영어
지원번호
1번         90    85
2번         40    35

In [14]:
df.loc['1번':'5번','국어':'사회']     #열받네? 문법이 약간 다르네... 어쨋든 1번~5번row의 국어~사회 col 불러오기.

          국어  영어  수학  과학  사회
지원번호
1번         90    85   100    95    85
2번         40    35    50    55    25
3번         80    75    70    80    75
4번         40    60    70    75    80
5번         15    20    10    35    10