In [2]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

# ë°ì´í„°ì„ íƒ(ì¡°ê±´)
ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„° ì„ íƒí•´ì„œ ê°€ì ¸ì˜¤ê¸°

In [3]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [4]:
#í‚¤ê°€ 185ì´ìƒì¸ì§€ í™•ì¸í•˜ê³ ì‹¶ë‹¤
df['í‚¤']>=185

ì§€ì›ë²ˆí˜¸
1ë²ˆ     True
2ë²ˆ    False
3ë²ˆ    False
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ     True
7ë²ˆ     True
8ë²ˆ     True
Name: í‚¤, dtype: bool

In [ ]:
#í‚¤ 185ì´ìƒì¸ í•­ëª©ë§Œ ë‹¤ ë“¤ê³ ì˜¤ê¸°.  2ë²ˆ,3ë²ˆì´ ë¹ ì§€ê²Œëœë‹¤
filt=(df['í‚¤']>185)  #ì¡°ê±´ì„¤ì •
df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80       C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#

In [ ]:
df[-filt]                #ì—­í•„í„°

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript

In [9]:
df[df['í‚¤']>185]  # =df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80       C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#

In [10]:
#í‚¤ê°€ 185ì´ìƒì¸ í•™ìƒë“¤ì˜ ìˆ˜í•™ì ìˆ˜ê°€ ê¶ê¸ˆí•˜ë‹¤
df.loc[df['í‚¤']>185,'ìˆ˜í•™']

ì§€ì›ë²ˆí˜¸
1ë²ˆ    100
4ë²ˆ     70
5ë²ˆ     10
6ë²ˆ     95
7ë²ˆ     45
8ë²ˆ     90
Name: ìˆ˜í•™, dtype: int64

In [12]:
df.loc[df['í‚¤']>185, ['ì´ë¦„','ìˆ˜í•™','ê³¼í•™']]

            ì´ë¦„  ìˆ˜í•™  ê³¼í•™
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜   100    95
4ë²ˆ       ì„œíƒœì›…    70    75
5ë²ˆ       ê°•ë°±í˜¸    10    35
6ë²ˆ       ë³€ë•ê·œ    95    85
7ë²ˆ       í™©íƒœì‚°    45    40
8ë²ˆ       ìœ¤ëŒ€í˜‘    90    95

## ë‹¤ì–‘í•œ ì¡°ê±´

### ê·¸ë¦¬ê³ &

In [ ]:
df.loc[(df['í‚¤']>=185)&(df['í•™êµ']=='ë¶ì‚°ê³ ')]     #í‚¤ê°€ 185ì´ìƒ,ë¶ì‚°ê³  ì¸ í•™ìƒ

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     NaN

### ë˜ëŠ” |      (shiftë°±ìŠ¤í˜ì´ìŠ¤ì™€ ì—”í„°ì‚¬ì´ì˜ ì›í™”)

In [23]:
#í‚¤ê°€ ë„ˆë¬´ ì‘ê±°ë‚˜ ë„ˆë¬´ í° ì¹œêµ¬ë§Œ ê°€ì ¸ì™€ë³´ì.
df.loc[(df['í‚¤']<=170)|(df['í‚¤']>=200)]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C

### strí•¨ìˆ˜

In [25]:
filt=df['ì´ë¦„'].str.startswith('ì†¡') #ì†¡ìœ¼ë¡œ ì‹œì‘í•˜ëŠ” ì´ë¦„ì„ ê°€ì§„ ë°ì´í„°ì •ë³´
df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript

In [26]:
filt=df['ì´ë¦„'].str.contains('íƒœ') #íƒœê°€ ì´ë¦„ì— ë“¤ì–´ê°€ ìˆëŠ” ì‚¬ëŒ
df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON

In [29]:
df[-filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25    Java
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80       C
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95      C#

In [ ]:
langs=['Python','Java']
filt=df['SWíŠ¹ê¸°'].isin(langs)
df[filt]
#í—ˆë‚˜ ì´ë ‡ê²Œ í•˜ë©´ PYTHONëŒ€ë¬¸ìë¥¼ ê°€ì§„ í™©íƒœì‚°ì€ ì•ˆë‚˜ì˜¨ë‹¤.

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25    Java

In [ ]:
langs=['python','java']
filt=df['SWíŠ¹ê¸°'].str.lower().isin(langs)  #lowerí•¨ìˆ˜ì¶”ê°€ë¡œ ëŒ€ì†Œë¬¸ìë™ì¼ì·¨ê¸‰
df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ  SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85  Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25    Java
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35  PYTHON

In [35]:
#javaë¼ëŠ” ê¸€ìê°€ ë“¤ì–´ê°€ëŠ” SWíŠ¹ê¸° ê°€ì§„ ì‚¬ëŒ ë‹¤ ë½‘ê¸°
filt=df['SWíŠ¹ê¸°'].str.contains('Java',na=False)  #na=FalseëŠ” ì™œ í•„ìš”í•œê°€? ë¹„ì–´ìˆëŠ” ì¹¸ì€ NAì¹¸ì¸ë° ì´ê²ƒì´ ìˆìœ¼ë©´containsí•¨ìˆ˜ê°€ filtê°€ ì˜¤ë¥˜ê°€ë‚œë‹¤. naëŠ” ë¯¸í‘œê¸°ë¼ê³  ì•Œë ¤ì£¼ëŠ” í–‰ìœ„ì´ë‹¤.
df[filt]

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript