In [2]:
# ğŸ”§ ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

# âœ… í•œê¸€ ì •ë ¬, ë„ˆë¹„ í™•ì¥, í–‰/ì—´ í‘œì‹œ ì „ë¶€ ìë™í™”
pd.set_option('display.unicode.east_asian_width', True)  # í•œê¸€ ì •ë ¬ ë§ì¶”ê¸°
pd.set_option('display.width', 150)                      # ì½˜ì†” ë„ˆë¹„ ìë™ í™•ì¥
pd.set_option('display.max_columns', None)               # ëª¨ë“  ì—´ í‘œì‹œ
pd.set_option('display.max_rows', 1000)                  # ìµœëŒ€ 1000í–‰ í‘œì‹œ
pd.set_option('display.max_colwidth', None)              # ê¸´ ë¬¸ìì—´ ìë¥´ì§€ ì•Šê¸°
pd.set_option('display.expand_frame_repr', False)

# âœ… matplotlib ì‹œê°í™” ì„¤ì • (í•œê¸€ & ë§ˆì´ë„ˆìŠ¤ ê¹¨ì§ ë°©ì§€)
plt.rcParams['font.family'] = 'Malgun Gothic'             # ìœˆë„ìš°ìš© í•œê¸€ í°íŠ¸
plt.rcParams['axes.unicode_minus'] = False

# ê²°ì¸¡ì¹˜ 
ë¹„ì–´ ìˆëŠ” ë°ì´í„°ë¥¼ ì˜ë¯¸

In [3]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

## ë°ì´í„° ì±„ìš°ê¸° fillna

In [5]:
display(df.fillna(''))   #naë°ì´í„°ë¥¼ ë¹ˆì¹¸ìœ¼ë¡œ ì±„ì›€

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [6]:
display(df.fillna('ì—†ìŒ'))

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80        ì—†ìŒ
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10        ì—†ìŒ
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [ ]:
import numpy as np   #numpyëŠ” ë²”ìœ„ì™¸. ì¼ë‹¨ ë¬´ì‹œ
df['í•™êµ']=np.nan     #í•™êµ ë°ì´í„° ì „ì²´ë¥¼ NaNìœ¼ë¡œ ì±„ì›€
df

            ì´ë¦„  í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜   NaN  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ   NaN  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­   NaN  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…   NaN  187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸   NaN  188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ   NaN  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°   NaN  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘   NaN  190   100    85    90    95    95          C#

In [ ]:
df.fillna('ëª¨ë¦„')  #ì „ì²´ë°ì´í„°ì˜ naê°€ ëª¨ë¦„ìœ¼ë¡œ ë°”ë€ë‹¤

            ì´ë¦„  í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ëª¨ë¦„  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ëª¨ë¦„  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ëª¨ë¦„  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ëª¨ë¦„  187    40    60    70    75    80        ëª¨ë¦„
5ë²ˆ       ê°•ë°±í˜¸  ëª¨ë¦„  188    15    20    10    35    10        ëª¨ë¦„
6ë²ˆ       ë³€ë•ê·œ  ëª¨ë¦„  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëª¨ë¦„  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëª¨ë¦„  190   100    85    90    95    95          C#

In [9]:
df

            ì´ë¦„  í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜   NaN  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ   NaN  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­   NaN  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…   NaN  187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸   NaN  188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ   NaN  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°   NaN  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘   NaN  190   100    85    90    95    95          C#

In [11]:
df.fillna('ëª¨ë¦„',inplace=True)
df

            ì´ë¦„  í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ëª¨ë¦„  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ëª¨ë¦„  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ëª¨ë¦„  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ëª¨ë¦„  187    40    60    70    75    80        ëª¨ë¦„
5ë²ˆ       ê°•ë°±í˜¸  ëª¨ë¦„  188    15    20    10    35    10        ëª¨ë¦„
6ë²ˆ       ë³€ë•ê·œ  ëª¨ë¦„  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëª¨ë¦„  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëª¨ë¦„  190   100    85    90    95    95          C#

In [18]:
 #ì¼ë¶€ columnì˜ naë§Œ ì±„ìš°ê¸°
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df['SWíŠ¹ê¸°'].fillna('í™•ì¸ ì¤‘',inplace=True)
df

C:\Users\asd67\AppData\Local\Temp\ipykernel_43452\2364897264.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SWíŠ¹ê¸°'].fillna('í™•ì¸ ì¤‘',inplace=True)

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80     í™•ì¸ ì¤‘
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10     í™•ì¸ ì¤‘
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

## ë°ì´í„° ì œì™¸í•˜ê¸° dropna

In [19]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [ ]:
df.dropna(inplace=True) #naê°€ í¬í•¨ëœ ë°ì´í„° ì•„ì˜ˆ ì‚­ì œ
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

axis:  index or colums      #ì§€ì›Œì§€ëŠ”ë°ì´í„°ê°€ index(row)ê¸°ì¤€ì¸ì§€ columsê¸°ì¤€ì¸ì§€ ì„ íƒí•˜ê¸°  
how: any or all             #NAê°€ í•˜ë‚˜ë¼ë„ ìˆìœ¼ë©´ ì§€ìš°ê¸° or ë‹¤ naë©´ ì§€ìš°ê¸°

In [29]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df
df.dropna(axis='index',how='any',inplace=True)
df

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75  Javascript
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95          C#

In [ ]:
df=pd.read_excel('score.xlsx',index_col='ì§€ì›ë²ˆí˜¸')
df
df.dropna(axis='columns')    #howëŠ” anyê°€ defaultê°’ì´ë‹¤.

            ì´ë¦„    í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197    90    85   100    95    85
2ë²ˆ       ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184    40    35    50    55    25
3ë²ˆ       ì†¡íƒœì„­  ë¶ì‚°ê³   168    80    75    70    80    75
4ë²ˆ       ì„œíƒœì›…  ë¶ì‚°ê³   187    40    60    70    75    80
5ë²ˆ       ê°•ë°±í˜¸  ë¶ì‚°ê³   188    15    20    10    35    10
6ë²ˆ       ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202    80   100    95    85    80
7ë²ˆ       í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188    55    65    45    40    35
8ë²ˆ       ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190   100    85    90    95    95

In [31]:
import numpy as np   #numpyëŠ” ë²”ìœ„ì™¸. ì¼ë‹¨ ë¬´ì‹œ
df['í•™êµ']=np.nan     #í•™êµ ë°ì´í„° ì „ì²´ë¥¼ NaNìœ¼ë¡œ ì±„ì›€
df

            ì´ë¦„  í•™êµ   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜   NaN  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ   NaN  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­   NaN  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…   NaN  187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸   NaN  188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ   NaN  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°   NaN  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘   NaN  190   100    85    90    95    95          C#

In [ ]:
df.dropna(axis='columns',how='all',inplace=True)
df
#columnsë°ì´í„° ì „ì²´ê°€ naì¼ ê²½ìš°ë§Œ ë°ì´í„°ì‚­ì œ

            ì´ë¦„   í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ      SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ       ì±„ì¹˜ìˆ˜  197    90    85   100    95    85      Python
2ë²ˆ       ì •ëŒ€ë§Œ  184    40    35    50    55    25        Java
3ë²ˆ       ì†¡íƒœì„­  168    80    75    70    80    75  Javascript
4ë²ˆ       ì„œíƒœì›…  187    40    60    70    75    80         NaN
5ë²ˆ       ê°•ë°±í˜¸  188    15    20    10    35    10         NaN
6ë²ˆ       ë³€ë•ê·œ  202    80   100    95    85    80           C
7ë²ˆ       í™©íƒœì‚°  188    55    65    45    40    35      PYTHON
8ë²ˆ       ìœ¤ëŒ€í˜‘  190   100    85    90    95    95          C#